body{
margin:0;
background:#0f1115;
color:white;
font-family:Arial;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#181b23;
}

h1{
margin:0;
}

button{
background:#2f80ed;
border:none;
padding:10px 16px;
color:white;
border-radius:6px;
cursor:pointer;
margin-left:10px;
}

button:hover{
background:#1c60b8;
}

.layout{
display:flex;
justify-content:center;
gap:40px;
padding:40px;
}

.side{
width:250px;
}

.boardArea{
width:600px;
}

#board{
width:600px;
margin:auto;
}

#stats{
margin-top:20px;
font-size:18px;
}

canvas{
background:#111;
padding:10px;
border-radius:8px;
}
